//- index.jade
doctype html
html
    head
        title cardSORTER | Dashboard
    body.skin-green.layout-boxed.sidebar-mini
        div.wrapper
            include header.pug
            include ./body/index.html
            include footer.pug
        script(src='js/index.js')
