//- index.jade
doctype html
html
  head
    title cardSORTER | Login
  body.hold-transition.skin-green.layout-top-nav
    div.wrapper
      include ./body/header-landing.html
      include ./body/login.html
      include ./body/footer.html
      include ./body/controlsidebar.html
    script(src='js/index.js')
