//- index.jade
doctype html
html
    head
        title CEL Record | Record
    body.skin-green.layout-boxed.sidebar-mini
        div.wrapper
            include header.pug
            include ./body/sidebar.html
            include ./body/projects.html
            include footer.pug
            include ./body/controlsidebar.html
        script(src='js/projects.js')
