//- index.jade
doctype html
html
  head
    title CEL Record | TBD
  body.skin-green.layout-boxed.sidebar-mini
    div.wrapper
      include ./body/header.html
      include ./body/sidebar.html
      include ./body/tbd.html
      include ./body/footer.html
      include ./body/controlsidebar.html
    script(src='plugins/flot/jquery.flot.min.js')
    script(src='plugins/flot/jquery.flot.resize.min.js')
    script(src='js/tbd.js')
