//- index.jade
doctype html
html
  head
    title Food Exploration | Dashboard
  body.skin-green.layout-boxed.sidebar-mini
    div.wrapper
      include ./body/header.html
      include ./body/sidebar.html
      include ./body/videos.html
      include ./body/footer.html
      include ./body/controlsidebar.html
    script(src='/js/videos.js') 
