<!-- Full Width Column -->
<div class="content-wrapper">
	<div class="container">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>

					<br/>
					</h1>

		</section>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-solid">

						<!-- /.box-header -->
						<div class="box-body">
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
									<li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
								</ol>
								<div class="carousel-inner">
									<div class="item active">
										<div class="greencarousel">
											<div class="carouseltext" style="padding-top: 140px;">Hi There!</div>
											<div class="carouseltext">I'm Creating Something Sciency</div>
											<div class="carouseltext" style="padding-top: 0px;"> <i class="fa fa-flask"></i> </div>
										</div>
										<div class="carousel-caption"></div>
									</div>
									<div class="item ">
										<div class="greencarousel">
											<div class="carouseltext" style="padding-top: 150px;">Its a tool ..</div>
											<div class="carouseltext">For Social Science Research!</div>
										</div>
										<div class="carousel-caption"></div>
									</div>
									<div class="item">
										<div class="greencarousel">
											<div class="carouseltext" style="padding-top: 150px;">Its!
											</div>
											<div class="carouseltext">cardSORTER!</div>
										</div>
										<div class="carousel-caption"></div>
									</div>
								</div>
								<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="fa fa-angle-left"></span>
								</a>
								<a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="fa fa-angle-right"></span>
								</a>
							</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
				<!-- /.col -->
			</div>

			<div class="modal-success modal fade bs-example-modal-l" id="videomodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog " role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title videotitle" id="videotitle">Login to start session</h4>
						</div>
						<div class="modal-body">
							<div class="tagbox">

								<form action="/login" method="POST" name="loginform" role="form">
									<input type="hidden" name="_token" value="">
									<div class="form-group has-feedback">
										<input name="email" type="email" class="form-control" placeholder="email address"> <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
									</div>
									<div class="form-group has-feedback">
										<input name="password" type="password" class="form-control" placeholder="Password"> <span class="glyphicon glyphicon-lock form-control-feedback"></span>
									</div>
									<div class="row">
										<div class="col-xs-4">
											<button type="submit" class="btn btn-primary btn-success btn-block btn-flat">Sign In</button>
										</div>
									</div>

								</form>


							</div>


						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-outline" data-dismiss="modal">login</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	</div>
	<!-- /.container -->
</div>
<!-- /.content-wrapper -->
