<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Projects <small> Create a new project </small>
		</h1>
	</section>
	<!-- Main content -->
	<section class="content">

		<div class="callout callout-success" style="display:none;" id="updatemessage">
			<p>This is a green callout.</p>
		</div>

		<!-- Info boxes -->

		<!-- /.row -->
		<!-- Your Page Content Here -->
		<!-- COLOR PALETTE -->
		<div class="box">


			<div class="box-body">
				<a class="btn btn-app recordcamera" id="1" status="off">
					<i class="fa fa-circle "></i> Camera 1
				</a>

			</div>
			<!-- /.box-body -->

		</div>

		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Recent Recordings </h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="row" id="videorow">
				</div>

			</div>
		</div>



	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
