
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Healthy Food Images <small> Healthy food images sourced from the internet </small>
		</h1>
	</section>
	<!-- Main content -->
	<section class="content">

		<div class="callout callout-success" style="display:none;" id="updatemessage"> <p>This is a green callout.</p>
		</div>
	  <div class="row">
			<div class="col-md-12">
			              <!-- Custom Tabs -->
			              <div class="nav-tabs-custom">
			                <ul class="nav nav-tabs">
			                  <li class="active"><a href="#tab_1" data-toggle="tab">"Healthy Food"</a></li>
												<li><a href="#tab_5" data-toggle="tab">"Healthy Meal" </a></li>
			                  <li><a href="#tab_2" data-toggle="tab">"Healthy Food Bowl" </a></li>
			                  <li><a href="#tab_3" data-toggle="tab">"Healthy Breakfast"</a></li>
												<li><a href="#tab_4" data-toggle="tab">"Unhealthy Food"</a></li>

			                  <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
			                </ul>
			                <div class="tab-content">
			                  <div class="tab-pane active" id="tab_1">
													<div class="row" id="imagerow"></div>
			                  </div><!-- /.tab-pane -->
			                  <div class="tab-pane" id="tab_2">
			                    <div class="row" id="foodbowlrow"></div>
			                  </div><!-- /.tab-pane -->
			                  <div class="tab-pane" id="tab_3">
			                    <div class="row" id="breakfastrow"></div>
			                  </div><!-- /.tab-pane -->
												<div class="tab-pane" id="tab_4">
			                    <div class="row" id="unhealthyrow"></div>
			                  </div><!-- /.tab-pane -->
												<div class="tab-pane" id="tab_5">
			                    <div class="row" id="healthymealrow"></div>
			                  </div><!-- /.tab-pane -->
			                </div><!-- /.tab-content -->
			              </div><!-- nav-tabs-custom -->
			            </div><!-- /.col -->

		</div>




	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
